*{
    margin: 0px;
    padding: 0px;
}

/* Header Part */

.nav-container{
    background-color: rgb(213, 210, 210);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    margin: auto;
}
.logo{
    display: flex;
    align-items: center;
}

.logo-image{
    height: 50px;
}

.agency-name-first{
    color:rgb(0, 255, 255);
}
.menus ul{
    list-style: none;
    display: flex;
    gap: 1rem;
}
.menus a{
    text-decoration: none;
    color: black;
    font-size: 19px;
}

/* Main Part */
.banner-container{
    
}
.description{
    position: relative;
}
.banner{
    position:absolute;
    background-image:(rgb(0, 0, 0, 0), rgba(0, 0, 0, 1));
    background-blend-mode: overlay;
    background-size: cover;
    background-repeat: no-repeat;
}
.primary{
    color:rgb(245, 44, 44);
}