*{
    margin: 0px;
    padding: 0px;
}
.nav-container{
    background-color: rgb(213, 210, 210);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;

}
.logo{
    display: flex;
    align-items: center;
}

.logo-image{
    height: 50px;
}

.agency-name-first{
    color:rgb(0, 255, 255);
}
.menus ul{
    list-style: none;
    display: flex;
    gap: 1rem;
}
.menus a{
    text-decoration: none;
    color: black;
    font-size: 19px;
}